ul{
    list-style: none;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 20px;
}
li{
    display: block;
    /* width: 350px; */
    border: 1px solid black;
    /* margin: 20px; */
}